
body {
  background-color:#E9E9E9;
}

/*
 * TOP NAVBAR START
 */
div.container-fluid{
  background-color: #00BC00;
}

img {
  max-width: 50em;
}

nav.navbar.navbar-expand-md.navbar-light.fixed-top.bg-light {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #00BC00;

}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

.nav-item {
  font-size: 1.5em;
}

.dropdown-menu {
  font-size:.75em;
  background-color:#00BC00;
}

.dropdown-item:hover {
  color: #000000;
  background-color: #00BC00;
}

.bg-light {
  background-color: #00BC00;
}
/*
 * TOP NAVBAR END
 */

hr.featurette-divider {
}

h1#page-title-burning {
  text-align:center;
}
